# 暂时忽略以下几个大文件
/DeepModel/Relation/*
/DeepModel/Entity/sample_data/*
/DeepModel/EntitySource/sample_data/*
#其中刨除文件，可上传
!/DeepModel/EntitySource/sample_data/*.bmes

#部分缓存文件
*/__pycache__/*
*__pycache__/*
*/.idea/*


# 资料，忽略
/Resources/*

